# CAUSE OF DEATHS

In [2]:
import pandas as pd

In [4]:
df = pd.read_csv(r"C:\Users\DELL\Downloads\cause_of_deaths.csv")
df

,Country/Territory,Code,Year,Meningitis,Alzheimer's Disease and Other Dementias,Parkinson's Disease,Nutritional Deficiencies,Malaria,Drowning,Interpersonal Violence,...,Diabetes Mellitus,Chronic Kidney Disease,Poisonings,Protein-Energy Malnutrition,Road Injuries,Chronic Respiratory Diseases,Cirrhosis and Other Chronic Liver Diseases,Digestive Diseases,"Fire, Heat, and Hot Substances",Acute Hepatitis
0,Afghanistan,AFG,1990,2159,1116,371,2087,93,1370,1538,...,2108,3709,338,2054,4154,5945,2673,5005,323,2985
1,Afghanistan,AFG,1991,2218,1136,374,2153,189,1391,2001,...,2120,3724,351,2119,4472,6050,2728,5120,332,3092
2,Afghanistan,AFG,1992,2475,1162,378,2441,239,1514,2299,...,2153,3776,386,2404,5106,6223,2830,5335,360,3325
3,Afghanistan,AFG,1993,2812,1187,384,2837,108,1687,2589,...,2195,3862,425,2797,5681,6445,2943,5568,396,3601
4,Afghanistan,AFG,1994,3027,1211,391,3081,211,1809,2849,...,2231,3932,451,3038,6001,6664,3027,5739,420,3816
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6115,Zimbabwe,ZWE,2015,1439,754,215,3019,2518,770,1302,...,3176,2108,381,2990,2373,2751,1956,4202,632,146
6116,Zimbabwe,ZWE,2016,1457,767,219,3056,2050,801,1342,...,3259,2160,393,3027,2436,2788,1962,4264,648,146
6117,Zimbabwe,ZWE,2017,1460,781,223,2990,2116,818,1363,...,3313,2196,398,2962,2473,2818,2007,4342,654,144
6118,Zimbabwe,ZWE,2018,1450,795,227,2918,2088,825,1396,...,3381,2240,400,2890,2509,2849,2030,4377,657,139
6119,Zimbabwe,ZWE,2019,1450,812,232,2884,2068,827,1434,...,3460,2292,405,2855,2554,2891,2065,4437,662,136

In [6]:
# FIRST WE CREATE A SIMILAR TABLE TO ENSURE DATA INTEGRITY
df2 = df
df2

,Country/Territory,Code,Year,Meningitis,Alzheimer's Disease and Other Dementias,Parkinson's Disease,Nutritional Deficiencies,Malaria,Drowning,Interpersonal Violence,...,Diabetes Mellitus,Chronic Kidney Disease,Poisonings,Protein-Energy Malnutrition,Road Injuries,Chronic Respiratory Diseases,Cirrhosis and Other Chronic Liver Diseases,Digestive Diseases,"Fire, Heat, and Hot Substances",Acute Hepatitis
0,Afghanistan,AFG,1990,2159,1116,371,2087,93,1370,1538,...,2108,3709,338,2054,4154,5945,2673,5005,323,2985
1,Afghanistan,AFG,1991,2218,1136,374,2153,189,1391,2001,...,2120,3724,351,2119,4472,6050,2728,5120,332,3092
2,Afghanistan,AFG,1992,2475,1162,378,2441,239,1514,2299,...,2153,3776,386,2404,5106,6223,2830,5335,360,3325
3,Afghanistan,AFG,1993,2812,1187,384,2837,108,1687,2589,...,2195,3862,425,2797,5681,6445,2943,5568,396,3601
4,Afghanistan,AFG,1994,3027,1211,391,3081,211,1809,2849,...,2231,3932,451,3038,6001,6664,3027,5739,420,3816
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6115,Zimbabwe,ZWE,2015,1439,754,215,3019,2518,770,1302,...,3176,2108,381,2990,2373,2751,1956,4202,632,146
6116,Zimbabwe,ZWE,2016,1457,767,219,3056,2050,801,1342,...,3259,2160,393,3027,2436,2788,1962,4264,648,146
6117,Zimbabwe,ZWE,2017,1460,781,223,2990,2116,818,1363,...,3313,2196,398,2962,2473,2818,2007,4342,654,144
6118,Zimbabwe,ZWE,2018,1450,795,227,2918,2088,825,1396,...,3381,2240,400,2890,2509,2849,2030,4377,657,139
6119,Zimbabwe,ZWE,2019,1450,812,232,2884,2068,827,1434,...,3460,2292,405,2855,2554,2891,2065,4437,662,136

In [8]:
# NEXT WE DROP FOR DUPLICATES
df2.drop_duplicates()
df2

,Country/Territory,Code,Year,Meningitis,Alzheimer's Disease and Other Dementias,Parkinson's Disease,Nutritional Deficiencies,Malaria,Drowning,Interpersonal Violence,...,Diabetes Mellitus,Chronic Kidney Disease,Poisonings,Protein-Energy Malnutrition,Road Injuries,Chronic Respiratory Diseases,Cirrhosis and Other Chronic Liver Diseases,Digestive Diseases,"Fire, Heat, and Hot Substances",Acute Hepatitis
0,Afghanistan,AFG,1990,2159,1116,371,2087,93,1370,1538,...,2108,3709,338,2054,4154,5945,2673,5005,323,2985
1,Afghanistan,AFG,1991,2218,1136,374,2153,189,1391,2001,...,2120,3724,351,2119,4472,6050,2728,5120,332,3092
2,Afghanistan,AFG,1992,2475,1162,378,2441,239,1514,2299,...,2153,3776,386,2404,5106,6223,2830,5335,360,3325
3,Afghanistan,AFG,1993,2812,1187,384,2837,108,1687,2589,...,2195,3862,425,2797,5681,6445,2943,5568,396,3601
4,Afghanistan,AFG,1994,3027,1211,391,3081,211,1809,2849,...,2231,3932,451,3038,6001,6664,3027,5739,420,3816
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6115,Zimbabwe,ZWE,2015,1439,754,215,3019,2518,770,1302,...,3176,2108,381,2990,2373,2751,1956,4202,632,146
6116,Zimbabwe,ZWE,2016,1457,767,219,3056,2050,801,1342,...,3259,2160,393,3027,2436,2788,1962,4264,648,146
6117,Zimbabwe,ZWE,2017,1460,781,223,2990,2116,818,1363,...,3313,2196,398,2962,2473,2818,2007,4342,654,144
6118,Zimbabwe,ZWE,2018,1450,795,227,2918,2088,825,1396,...,3381,2240,400,2890,2509,2849,2030,4377,657,139
6119,Zimbabwe,ZWE,2019,1450,812,232,2884,2068,827,1434,...,3460,2292,405,2855,2554,2891,2065,4437,662,136

In [10]:
# WE MOVE STRAIGHT TO EXPLORATORY ANALYSIS AS THE DATA IS CLEANED

# EXPLORATORY ANALYSIS

In [12]:
# FIRST I WANT TO BE ABLE TO SEE ALL THE COLUMNS
pd.set_option('display.max.columns', 35)

In [14]:
df2

,Country/Territory,Code,Year,Meningitis,Alzheimer's Disease and Other Dementias,Parkinson's Disease,Nutritional Deficiencies,Malaria,Drowning,Interpersonal Violence,Maternal Disorders,HIV/AIDS,Drug Use Disorders,Tuberculosis,Cardiovascular Diseases,Lower Respiratory Infections,Neonatal Disorders,Alcohol Use Disorders,Self-harm,Exposure to Forces of Nature,Diarrheal Diseases,Environmental Heat and Cold Exposure,Neoplasms,Conflict and Terrorism,Diabetes Mellitus,Chronic Kidney Disease,Poisonings,Protein-Energy Malnutrition,Road Injuries,Chronic Respiratory Diseases,Cirrhosis and Other Chronic Liver Diseases,Digestive Diseases,"Fire, Heat, and Hot Substances",Acute Hepatitis
0,Afghanistan,AFG,1990,2159,1116,371,2087,93,1370,1538,2655,34,93,4661,44899,23741,15612,72,696,0,4235,175,11580,1490,2108,3709,338,2054,4154,5945,2673,5005,323,2985
1,Afghanistan,AFG,1991,2218,1136,374,2153,189,1391,2001,2885,41,102,4743,45492,24504,17128,75,751,1347,4927,113,11796,3370,2120,3724,351,2119,4472,6050,2728,5120,332,3092
2,Afghanistan,AFG,1992,2475,1162,378,2441,239,1514,2299,3315,48,118,4976,46557,27404,20060,80,855,614,6123,38,12218,4344,2153,3776,386,2404,5106,6223,2830,5335,360,3325
3,Afghanistan,AFG,1993,2812,1187,384,2837,108,1687,2589,3671,56,132,5254,47951,31116,22335,85,943,225,8174,41,12634,4096,2195,3862,425,2797,5681,6445,2943,5568,396,3601
4,Afghanistan,AFG,1994,3027,1211,391,3081,211,1809,2849,3863,63,142,5470,49308,33390,23288,88,993,160,8215,44,12914,8959,2231,3932,451,3038,6001,6664,3027,5739,420,3816
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6115,Zimbabwe,ZWE,2015,1439,754,215,3019,2518,770,1302,1355,29162,104,11214,16649,12974,9278,48,2235,16,5102,37,11161,13,3176,2108,381,2990,2373,2751,1956,4202,632,146
6116,Zimbabwe,ZWE,2016,1457,767,219,3056,2050,801,1342,1338,27141,110,10998,16937,13024,9065,49,2296,31,5002,37,11465,6,3259,2160,393,3027,2436,2788,1962,4264,648,146
6117,Zimbabwe,ZWE,2017,1460,781,223,2990,2116,818,1363,1312,24846,115,10762,17187,12961,8901,50,2338,251,4948,37,11744,5,3313,2196,398,2962,2473,2818,2007,4342,654,144
6118,Zimbabwe,ZWE,2018,1450,795,227,2918,2088,825,1396,1294,22106,121,10545,17460,12860,8697,51,2372,0,4745,37,12038,9,3381,2240,400,2890,2509,2849,2030,4377,657,139
6119,Zimbabwe,ZWE,2019,1450,812,232,2884,2068,827,1434,1294,20722,127,10465,17810,12897,8609,53,2403,660,4635,37,12353,11,3460,2292,405,2855,2554,2891,2065,4437,662,136

In [83]:
#1) WHAT DISEASE KILLS NIGERIANS THE MOST
# first we groupby the year and filter all the rows we want to show
nga_most_deaths = df2[df2['Country/Territory'] == 'Nigeria'].groupby('Year')[['Meningitis', 'Malaria', "Alzheimer's Disease and Other Dementias",
"Parkinson's Disease", 'Nutritional Deficiencies', 'Drowning', 'Interpersonal Violence', 'Maternal Disorders', 'HIV/AIDS', 'Drug Use Disorders',
'Tuberculosis', 'Cardiovascular Diseases', 'Lower Respiratory Infections', 'Neonatal Disorders', 'Alcohol Use Disorders', 'Self-harm', 
'Exposure to Forces of Nature',	'Diarrheal Diseases', 'Environmental Heat and Cold Exposure', 'Neoplasms', 'Conflict and Terrorism',	
'Diabetes Mellitus', 'Chronic Kidney Disease', 'Poisonings', 'Protein-Energy Malnutrition',	'Road Injuries', 'Chronic Respiratory Diseases', 
'Cirrhosis and Other Chronic Liver Diseases', 'Digestive Diseases',	'Fire, Heat, and Hot Substances', 'Acute Hepatitis']].sum()
nga_most_deaths

,Meningitis,Malaria,Alzheimer's Disease and Other Dementias,Parkinson's Disease,Nutritional Deficiencies,Drowning,Interpersonal Violence,Maternal Disorders,HIV/AIDS,Drug Use Disorders,Tuberculosis,Cardiovascular Diseases,Lower Respiratory Infections,Neonatal Disorders,Alcohol Use Disorders,Self-harm,Exposure to Forces of Nature,Diarrheal Diseases,Environmental Heat and Cold Exposure,Neoplasms,Conflict and Terrorism,Diabetes Mellitus,Chronic Kidney Disease,Poisonings,Protein-Energy Malnutrition,Road Injuries,Chronic Respiratory Diseases,Cirrhosis and Other Chronic Liver Diseases,Digestive Diseases,"Fire, Heat, and Hot Substances",Acute Hepatitis
Year,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1990,40226,148931,4984,1431,10236,2887,6579,11879,7723,95,59421,118057,169472,121027,743,4330,0,284419,728,34236,81,12194,11660,2937,9769,11832,17749,25713,43375,2876,4292
1991,41349,157502,5107,1460,10517,2977,7140,12398,11761,100,60481,120203,174686,125598,754,4418,0,297403,744,35172,13,12561,11928,2908,10039,12185,17994,26125,44145,2948,4475
1992,42711,165722,5255,1496,10624,3071,7951,12918,17130,105,62090,123006,180284,130522,771,4566,0,281303,782,36234,147,13022,12257,3007,10141,12663,18313,26664,45145,3037,4628
1993,44166,173695,5395,1528,10693,3165,8438,13396,23871,110,63446,125642,185946,135700,782,4694,0,276528,781,37283,3,13453,12536,3107,10210,13082,18594,27081,46006,3133,4666
1994,45460,180588,5540,1557,11053,3256,7467,13962,31881,113,65194,127914,192168,140521,788,4803,30,273916,800,38162,90,13851,12756,3189,10552,13421,18837,27378,46688,3205,4825
1995,46492,186263,5654,1578,11401,3313,7634,14061,40865,115,67625,129482,198897,144810,793,4903,0,271658,820,38843,9,14172,12887,3252,10874,13667,19031,27473,47083,3265,5022
1996,59006,191437,5754,1592,11568,3367,7900,14618,50405,117,68778,132523,203492,148866,795,5023,0,274988,832,39405,83,14434,13000,3296,11029,13879,19112,27460,47296,3307,5067
1997,48278,197467,5894,1614,11913,3417,8586,15300,59969,119,69098,135221,206728,153247,803,5234,0,272445,844,40298,452,14804,13176,3362,11351,14199,19311,27746,47939,3365,5178
1998,50009,202843,6041,1637,12155,3478,8500,16126,71604,122,69735,138002,209694,157553,812,5472,15,272459,857,41305,943,15193,13336,3438,11574,14574,19542,28018,48666,3435,5246
1999,50499,207571,6186,1661,12206,3528,9369,16891,82999,124,70661,140664,212981,162025,820,5706,189,273760,871,42312,2692,15568,13492,3503,11614,14916,19824,28428,49645,3489,5219
2000,51685,212123,6395,1719,11924,3554,10596,17263,91616,124,71501,142398,215544,166039,830,5876,36,273848,884,43405,3553,15961,13777,3561,11334,15229,20129,28957,50641,3541,5179
2001,52027,221139,6595,1782,11977,3557,10783,17960,99303,127,71286,141888,216216,170248,846,6036,200,272987,896,44569,1155,16317,14129,3598,11373,15536,20422,29733,51745,3607,5162
2002,53195,226408,6962,1890,11629,3617,9492,18725,104701,132,70036,142175,216774,175409,869,6198,0,268973,966,46497,2101,16937,14684,3674,11038,16012,20931,30913,53662,3664,4836
2003,53916,235380,7262,1964,11390,3690,9554,19295,108081,138,68360,140179,215409,179486,890,6325,16,262567,908,48197,1027,17415,15123,3712,10806,16341,21239,31846,55084,3714,4508
2004,54092,236937,7635,2064,10589,3658,11327,19914,109749,144,65773,138269,213336,182540,915,6455,94,256236,907,50181,1445,17873,15493,3758,10018,16690,21580,32887,56738,3778,4210
2005,54266,243827,7992,2163,9651,3679,9720,20274,109023,150,61754,136056,208505,185687,931,6542,60,248877,897,51932,360,18145,15586,3769,9105,16867,21792,33850,58188,3811,3948
2006,56924,257505,8385,2279,9620,3837,9940,20344,105000,155,58881,135125,210683,189061,947,6658,40,254013,909,53931,589,18539,15873,3916,9063,17447,22119,34803,59910,3986,3810
2007,57314,267368,8602,2342,9382,3883,10074,20349,100730,161,55797,133656,208401,192018,961,6814,91,253568,909,55609,628,18828,16026,3954,8823,17720,22170,35595,61219,4142,3678
2008,56276,280604,8938,2447,8850,3745,10124,19930,95773,165,52577,133744,202257,194666,966,6883,0,246594,892,57021,913,19065,16136,3870,8301,17507,22244,35955,61813,3986,3501
2009,59349,276715,9213,2533,8663,3733,10223,20001,89799,172,51184,135318,199250,197097,987,7122,31,243669,895,59145,2668,19485,16430,3857,8110,17658,22529,36699,62992,4004,3400
2010,55105,266638,9527,2623,8385,3663,11174,19991,87236,182,49386,137026,194723,199507,1017,7346,40,240708,893,61627,1497,19988,16694,4029,7832,17801,22820,37704,64449,3994,3300
2011,53692,254072,9874,2719,7995,3509,11819,20254,86006,195,47775,139912,189770,201486,1054,7517,185,228309,884,64551,1650,20621,17019,3782,7449,17997,23125,38456,65727,3960,3205
2012,52126,239886,10209,2828,7943,3563,11269,20112,82793,208,47582,143645,189640,203428,1091,7612,378,221382,893,67786,3091,21336,17483,3808,7389,18358,23577,39274,67301,4009,3128
2013,52141,227310,10472,2917,7542,3458,12037,19685,77539,220,48787,146744,191077,204573,1123,7613,19,215679,910,70387,6260,21835,17827,3809,6984,18610,23880,39606,68184,4042,3040
2014,52114,218689,10623,2945,7149,3443,12925,19240,74814,229,50413,148499,192397,203887,1141,7552,15,210178,934,72209,14156,22171,18290,3789,6593,18723,23860,39342,68129,4049,2935
2015,48484,204672,10918,3025,7025,3399,12648,18644,75930,236,50844,153963,192033,203212,1145,7499,94,203706,947,73971,14635,22565,18731,3779,6467,19053,23953,38674,67489,4069,2807
2016,49572,186482,11041,3053,6884,3505,13090,18441,77599,246,50424,155266,191915,202317,1164,7624,46,200794,962,75842,5064,22964,19144,3834,6317,19370,24038,38874,68094,4157,2761
2017,48790,176183,11394,3130,6490,3364,13436,18156,79121,255,48699,157966,184438,199123,1183,7706,20,198476,954,77596,5077,23373,19428,3767,5934,19319,24189,39654,69254,4104,2699
2018,46198,187000,11753,3234,5908,3254,14093,17789,81427,264,46524,160449,177834,197179,1199,7800,300,188747,937,79466,5440,23877,19710,3699,5385,18531,24304,39914,69518,4090,2595
2019,44914,191106,12113,3334,5496,3153,12958,17650,82270,274,45278,163496,172978,195397,1221,7970,0,181138,927,81558,3086,24473,20045,3640,4996,18508,24506,40381,70077,4017,2540

In [97]:
# Next we sum by all the rows and sort descending
nga_deaths = nga_most_deaths[['Meningitis', 'Malaria', "Alzheimer's Disease and Other Dementias",
"Parkinson's Disease", 'Nutritional Deficiencies', 'Drowning', 'Interpersonal Violence', 'Maternal Disorders', 'HIV/AIDS', 'Drug Use Disorders',
'Tuberculosis', 'Cardiovascular Diseases', 'Lower Respiratory Infections', 'Neonatal Disorders', 'Alcohol Use Disorders', 'Self-harm', 
'Exposure to Forces of Nature',	'Diarrheal Diseases', 'Environmental Heat and Cold Exposure', 'Neoplasms', 'Conflict and Terrorism',	
'Diabetes Mellitus', 'Chronic Kidney Disease', 'Poisonings', 'Protein-Energy Malnutrition',	'Road Injuries', 'Chronic Respiratory Diseases', 
'Cirrhosis and Other Chronic Liver Diseases', 'Digestive Diseases',	'Fire, Heat, and Hot Substances', 'Acute Hepatitis']].sum().sort_values(ascending= False)
nga_deaths

Diarrheal Diseases                            7449328
Malaria                                       6422063
Lower Respiratory Infections                  5917528
Neonatal Disorders                            5262229
Cardiovascular Diseases                       4176488
HIV/AIDS                                      2216718
Tuberculosis                                  1769390
Digestive Diseases                            1716202
Neoplasms                                     1618730
Meningitis                                    1520376
Cirrhosis and Other Chronic Liver Diseases     995203
Chronic Respiratory Diseases                   641714
Diabetes Mellitus                              541020
Maternal Disorders                             525566
Road Injuries                                  487695
Chronic Kidney Disease                         464656
Interpersonal Violence                         306846
Nutritional Deficiencies                       286858
Protein-Energy Malnutrition                    270470
Alzheimer's Disease and Other Dementias        241713
Self-harm                                      190297
Acute Hepatitis                                119860
Fire, Heat, and Hot Substances                 110784
Poisonings                                     107604
Drowning                                       103723
Conflict and Terrorism                          78908
Parkinson's Disease                             66545
Alcohol Use Disorders                           28341
Environmental Heat and Cold Exposure            26363
Drug Use Disorders                               4897
Exposure to Forces of Nature                     1899
dtype: int64

In [119]:
# 2) What disease killed the most people in canada
canada = df2[df2['Country/Territory'] == 'Canada'].groupby('Year')[['Meningitis', 'Malaria', "Alzheimer's Disease and Other Dementias",
"Parkinson's Disease", 'Nutritional Deficiencies', 'Drowning', 'Interpersonal Violence', 'Maternal Disorders', 'HIV/AIDS', 'Drug Use Disorders',
'Tuberculosis', 'Cardiovascular Diseases', 'Lower Respiratory Infections', 'Neonatal Disorders', 'Alcohol Use Disorders', 'Self-harm', 
'Exposure to Forces of Nature',	'Diarrheal Diseases', 'Environmental Heat and Cold Exposure', 'Neoplasms', 'Conflict and Terrorism',	
'Diabetes Mellitus', 'Chronic Kidney Disease', 'Poisonings', 'Protein-Energy Malnutrition',	'Road Injuries', 'Chronic Respiratory Diseases', 
'Cirrhosis and Other Chronic Liver Diseases', 'Digestive Diseases',	'Fire, Heat, and Hot Substances', 'Acute Hepatitis']].sum()
canada

,Meningitis,Malaria,Alzheimer's Disease and Other Dementias,Parkinson's Disease,Nutritional Deficiencies,Drowning,Interpersonal Violence,Maternal Disorders,HIV/AIDS,Drug Use Disorders,Tuberculosis,Cardiovascular Diseases,Lower Respiratory Infections,Neonatal Disorders,Alcohol Use Disorders,Self-harm,Exposure to Forces of Nature,Diarrheal Diseases,Environmental Heat and Cold Exposure,Neoplasms,Conflict and Terrorism,Diabetes Mellitus,Chronic Kidney Disease,Poisonings,Protein-Energy Malnutrition,Road Injuries,Chronic Respiratory Diseases,Cirrhosis and Other Chronic Liver Diseases,Digestive Diseases,"Fire, Heat, and Hot Substances",Acute Hepatitis
Year,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1990,128,0,6456,1545,216,404,627,18,801,441,205,74467,6576,1255,692,4086,26,71,135,53929,0,4330,2642,179,160,4282,9319,3144,7296,446,15
1991,126,0,6549,1604,227,394,642,19,942,495,201,74607,6761,1185,718,4137,3,70,137,55028,0,4549,2800,178,168,4139,9654,3186,7413,428,15
1992,121,0,6649,1664,235,377,611,27,1107,548,195,75001,6945,1133,743,4223,8,73,139,56088,1,4796,2953,177,175,4014,9995,3231,7529,419,15
1993,132,0,6785,1746,245,379,562,25,1215,611,196,76383,7239,1147,761,4334,6,81,144,57495,0,5138,3135,177,182,3939,10493,3334,7747,413,15
1994,119,0,6948,1816,257,372,560,25,1285,650,192,76928,7465,1155,780,4366,8,89,147,58360,1,5414,3280,172,192,3801,10835,3390,7890,399,15
1995,108,0,7167,1897,267,371,486,25,1610,671,192,77554,7670,1116,788,4412,14,101,149,59509,2,5696,3424,162,200,3708,11225,3445,8023,389,15
1996,103,0,7423,1978,277,358,497,26,1238,701,188,77759,7791,1039,803,4438,19,119,148,60279,0,5933,3551,155,210,3600,11526,3470,8116,376,15
1997,111,0,7685,2067,289,348,419,29,663,741,185,77859,7908,987,816,4437,13,145,146,61052,0,6196,3659,150,220,3537,11866,3497,8245,370,14
1998,99,0,7970,2167,300,344,439,22,513,810,178,77758,7922,946,841,4429,48,189,143,62095,2,6470,3810,144,230,3450,12217,3571,8419,355,14
1999,113,0,8266,2253,309,338,423,16,431,860,176,76963,7573,931,860,4461,21,251,138,62822,7,6770,3927,140,240,3397,12398,3602,8492,349,14
2000,113,0,8587,2339,318,323,426,18,563,902,170,75825,6724,926,896,4356,14,372,129,63646,0,7081,4092,128,253,3287,12447,3625,8591,333,15
2001,116,0,8938,2444,329,318,439,28,479,942,167,75174,6355,956,925,4349,20,496,129,64211,7,7404,4233,122,263,3218,12584,3701,8770,325,15
2002,109,0,9294,2565,339,316,445,22,464,990,162,75056,6190,975,952,4333,7,645,131,65032,1,7767,4403,123,273,3196,12813,3813,9041,316,16
2003,110,0,9590,2658,342,306,433,27,473,1026,154,74094,6125,997,958,4342,23,825,129,66785,0,7909,4520,125,276,3144,12979,3892,9227,306,15
2004,100,0,9893,2732,341,299,480,25,456,1069,144,72573,6143,1011,972,4277,3,1024,125,68084,3,7904,4634,123,278,3079,13055,3919,9345,303,14
2005,99,0,10257,2818,340,301,553,32,499,1135,142,71571,6174,1049,982,4301,7,1180,124,69538,4,7880,4784,123,278,3060,13245,4005,9567,300,14
2006,100,0,10633,2889,332,298,546,31,471,1186,138,70140,6121,1056,1005,4267,10,1316,120,70821,36,7628,4891,123,273,2969,13288,4052,9695,295,14
2007,99,0,10999,2987,328,293,538,28,448,1254,134,69792,6215,1098,1034,4318,18,1469,119,72965,30,7482,5054,127,272,2898,13620,4196,9985,298,13
2008,98,0,11370,3077,323,291,604,32,415,1312,129,69253,6288,1107,1065,4359,21,1581,117,74584,32,7270,5202,127,270,2776,13880,4292,10155,301,12
2009,96,0,11709,3137,314,286,557,30,364,1372,121,68335,6366,1089,1092,4419,14,1690,114,75628,32,6948,5298,128,263,2657,14017,4356,10246,294,12
2010,95,0,12160,3215,308,285,613,27,330,1428,121,68029,6473,1097,1128,4442,11,1782,117,76141,16,6697,5512,127,261,2555,14272,4435,10392,288,12
2011,88,0,12560,3282,298,280,603,23,302,1501,119,67580,6674,1072,1168,4426,19,1810,116,77371,0,6362,5732,125,253,2443,14497,4507,10516,278,12
2012,85,0,13008,3368,288,287,605,26,277,1602,121,68155,6928,1072,1202,4547,6,1801,117,79147,1,6186,5974,128,244,2407,14869,4660,10780,277,11
2013,87,0,13442,3449,282,285,569,26,233,1709,124,68846,7281,1098,1247,4625,6,1724,142,80681,0,6006,6200,130,241,2370,15300,4781,11021,283,11
2014,89,0,13911,3551,283,285,560,27,273,1856,128,70379,7635,1050,1291,4756,11,1688,121,82675,7,6000,6454,134,241,2354,15801,4941,11355,293,11
2015,89,0,14402,3617,292,292,580,29,272,2022,132,71553,8008,1021,1321,4834,8,1661,120,83590,0,6065,6607,132,250,2365,16221,5037,11568,286,11
2016,89,0,15138,3687,306,298,595,28,269,2167,133,73558,8185,1002,1326,4873,0,1652,123,84988,2,6347,6730,135,262,2436,16535,5097,11779,293,11
2017,88,0,15906,3776,318,295,572,27,265,2311,136,75546,8408,956,1335,4832,2,1655,124,86590,0,6594,6881,134,272,2452,16926,5156,12001,294,12
2018,89,0,16573,3990,339,291,559,25,259,2413,144,79970,8859,931,1349,4764,0,1713,197,90494,0,7078,7266,133,289,2467,17831,5350,12552,300,12
2019,89,0,17052,4123,354,288,552,25,254,2526,149,82644,9125,915,1361,4699,0,1742,128,93072,1,7420,7501,132,302,2479,18385,5442,12872,303,12

In [121]:
canada_deaths = canada[['Meningitis', 'Malaria', "Alzheimer's Disease and Other Dementias",
"Parkinson's Disease", 'Nutritional Deficiencies', 'Drowning', 'Interpersonal Violence', 'Maternal Disorders', 'HIV/AIDS', 'Drug Use Disorders',
'Tuberculosis', 'Cardiovascular Diseases', 'Lower Respiratory Infections', 'Neonatal Disorders', 'Alcohol Use Disorders', 'Self-harm', 
'Exposure to Forces of Nature',	'Diarrheal Diseases', 'Environmental Heat and Cold Exposure', 'Neoplasms', 'Conflict and Terrorism',	
'Diabetes Mellitus', 'Chronic Kidney Disease', 'Poisonings', 'Protein-Energy Malnutrition',	'Road Injuries', 'Chronic Respiratory Diseases', 
'Cirrhosis and Other Chronic Liver Diseases', 'Digestive Diseases',	'Fire, Heat, and Hot Substances', 'Acute Hepatitis']].sum().sort_values(ascending= False)
canada_deaths

Cardiovascular Diseases                       2213352
Neoplasms                                     2112700
Chronic Respiratory Diseases                   402093
Alzheimer's Disease and Other Dementias        317320
Digestive Diseases                             288628
Lower Respiratory Infections                   214127
Diabetes Mellitus                              195320
Chronic Kidney Disease                         145149
Self-harm                                      133442
Cirrhosis and Other Chronic Liver Diseases     123127
Road Injuries                                   92479
Parkinson's Disease                             82441
Drug Use Disorders                              37251
Neonatal Disorders                              31372
Alcohol Use Disorders                           30411
Diarrheal Diseases                              29015
HIV/AIDS                                        17171
Interpersonal Violence                          16095
Fire, Heat, and Hot Substances                   9910
Drowning                                         9602
Nutritional Deficiencies                         8996
Protein-Energy Malnutrition                      7291
Tuberculosis                                     4676
Poisonings                                       4193
Environmental Heat and Cold Exposure             3968
Meningitis                                       3088
Maternal Disorders                                768
Acute Hepatitis                                   402
Exposure to Forces of Nature                      366
Conflict and Terrorism                            185
Malaria                                             0
dtype: int64

In [142]:
#3 What country did most people Drown
drown = df2[df2['Drowning'] >= 0].groupby('Country/Territory')['Drowning'].sum().sort_values(ascending=False)
drown

Country/Territory
China           2873619
India           2110438
Bangladesh       711803
Russia           423044
Brazil           250078
                 ...
Cook Islands         30
San Marino            0
Tokelau               0
Andorra               0
Niue                  0
Name: Drowning, Length: 204, dtype: int64

In [144]:
# 4 What country did most people die of HIV/Aids
Aids = df2[df2["HIV/AIDS"] >= 0].groupby('Country/Territory')['HIV/AIDS'].sum().sort_values(ascending=False)
Aids

Country/Territory
South Africa    4874296
Kenya           2583539
Tanzania        2465047
India           2454374
Nigeria         2216718
                 ...
Maldives             12
Tuvalu                7
Nauru                 6
Tokelau               0
Niue                  0
Name: HIV/AIDS, Length: 204, dtype: int64

In [146]:
# 5 What Country did Alcohol kill the most
Alcohol = df2[df2["Alcohol Use Disorders"] >= 0].groupby('Country/Territory')['Alcohol Use Disorders'].sum().sort_values(ascending=False)
Alcohol

Country/Territory
Russia           1194672
India             527112
China             485796
United States     309757
Ukraine           303062
                  ...
Niue                   0
San Marino             0
Cook Islands           0
Nauru                  0
Tokelau                0
Name: Alcohol Use Disorders, Length: 204, dtype: int64

In [148]:
#6 Country with most "self-harm" deaths
Self_harm = df2[df2["Self-harm"] >= 0].groupby('Country/Territory')['Self-harm'].sum().sort_values(ascending=False)
Self_harm

Country/Territory
India                    5543395
China                    5078550
Russia                   1793855
United States            1168886
Japan                     861712
                          ...
Antigua and Barbuda           65
Saint Kitts and Nevis         60
Tuvalu                        60
Tokelau                        0
Niue                           0
Name: Self-harm, Length: 204, dtype: int64

In [150]:
#7 In recent Years how many Nigerians have been killed by forces of nature
nga_nature = df2[df2["Country/Territory"] == 'Nigeria'].groupby('Year')["Exposure to Forces of Nature"].value_counts()
nga_nature

Year  Exposure to Forces of Nature
1990  0                               1
1991  0                               1
1992  0                               1
1993  0                               1
1994  30                              1
1995  0                               1
1996  0                               1
1997  0                               1
1998  15                              1
1999  189                             1
2000  36                              1
2001  200                             1
2002  0                               1
2003  16                              1
2004  94                              1
2005  60                              1
2006  40                              1
2007  91                              1
2008  0                               1
2009  31                              1
2010  40                              1
2011  185                             1
2012  378                             1
2013  19                              1
2014  15                              1
2015  94                              1
2016  46                              1
2017  20                              1
2018  300                             1
2019  0                               1
Name: count, dtype: int64

In [152]:
#8 Is tuberculorsis a disease swedish people should be wary of?
swede_tb = df2[df2["Country/Territory"] == "Sweden"].groupby('Year')['Tuberculosis'].sum()
swede_tb

Year
1990    197
1991    197
1992    193
1993    188
1994    177
1995    177
1996    170
1997    170
1998    167
1999    166
2000    155
2001    155
2002    155
2003    142
2004    134
2005    132
2006    130
2007    125
2008    118
2009    109
2010     99
2011     96
2012     92
2013     87
2014     81
2015     78
2016     77
2017     76
2018     78
2019     79
Name: Tuberculosis, dtype: int64

In [156]:
#9) Does Fire Kill a lot of People in Japan?
japanese_fire = df2[df2["Country/Territory"] == "Japan"].groupby('Year')['Fire, Heat, and Hot Substances'].sum()
japanese_fire

Year
1990    1580
1991    1600
1992    1647
1993    1674
1994    1706
1995    1757
1996    1753
1997    1758
1998    1798
1999    1866
2000    1823
2001    2025
2002    1822
2003    1840
2004    1831
2005    1874
2006    1847
2007    1824
2008    1807
2009    1773
2010    1768
2011    1775
2012    1734
2013    1889
2014    1638
2015    1589
2016    1573
2017    1571
2018    1606
2019    1617
Name: Fire, Heat, and Hot Substances, dtype: int64

In [158]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6120 entries, 0 to 6119
Data columns (total 34 columns):
 #   Column                                      Non-Null Count  Dtype
---  ------                                      --------------  -----
 0   Country/Territory                           6120 non-null   object
 1   Code                                        6120 non-null   object
 2   Year                                        6120 non-null   int64
 3   Meningitis                                  6120 non-null   int64
 4   Alzheimer's Disease and Other Dementias     6120 non-null   int64
 5   Parkinson's Disease                         6120 non-null   int64
 6   Nutritional Deficiencies                    6120 non-null   int64
 7   Malaria                                     6120 non-null   int64
 8   Drowning                                    6120 non-null   int64
 9   Interpersonal Violence                      6120 non-null   int64
 10  Maternal Disorders                          6120 non-null   int64
 11  HIV/AIDS                                    6120 non-null   int64
 12  Drug Use Disorders                          6120 non-null   int64
 13  Tuberculosis                                6120 non-null   int64
 14  Cardiovascular Diseases                     6120 non-null   int64
 15  Lower Respiratory Infections                6120 non-null   int64
 16  Neonatal Disorders                          6120 non-null   int64
 17  Alcohol Use Disorders                       6120 non-null   int64
 18  Self-harm                                   6120 non-null   int64
 19  Exposure to Forces of Nature                6120 non-null   int64
 20  Diarrheal Diseases                          6120 non-null   int64
 21  Environmental Heat and Cold Exposure        6120 non-null   int64
 22  Neoplasms                                   6120 non-null   int64
 23  Conflict and Terrorism                      6120 non-null   int64
 24  Diabetes Mellitus                           6120 non-null   int64
 25  Chronic Kidney Disease                      6120 non-null   int64
 26  Poisonings                                  6120 non-null   int64
 27  Protein-Energy Malnutrition                 6120 non-null   int64
 28  Road Injuries                               6120 non-null   int64
 29  Chronic Respiratory Diseases                6120 non-null   int64
 30  Cirrhosis and Other Chronic Liver Diseases  6120 non-null   int64
 31  Digestive Diseases                          6120 non-null   int64
 32  Fire, Heat, and Hot Substances              6120 non-null   int64
 33  Acute Hepatitis                             6120 non-null   int64
dtypes: int64(32), object(2)
memory usage: 1.6+ MB

In [164]:
#10 Country That died with the most digestive disease in 2000
digest_dth = df2[df2["Year"] == 2000].groupby('Country/Territory')["Digestive Diseases"].sum().sort_values(ascending=False)
digest_dth

Country/Territory
India            385059
China            302427
Indonesia        100417
United States     92314
Russia            70085
                  ...
Cook Islands          4
Tuvalu                4
Nauru                 3
Tokelau               1
Niue                  1
Name: Digestive Diseases, Length: 204, dtype: int64

In [168]:
#10 How many Nigerians die of Protein Malnutrition in Year 2010
digest_dth = df2[(df2["Year"] == 2000) & (df2["Country/Territory"] == "Nigeria")].groupby('Country/Territory')["Protein-Energy Malnutrition"].sum().sort_values(ascending=False)
digest_dth

Country/Territory
Nigeria    11334
Name: Protein-Energy Malnutrition, dtype: int64

In [172]:
# 11 In What nation is Diarrhea considered almost insignificant
diarrhea = df2[df2['Diarrheal Diseases'] >= 0].groupby('Country/Territory')['Diarrheal Diseases'].sum().sort_values(ascending= True)
diarrhea

Country/Territory
Tokelau              0
Niue                 0
San Marino           0
Monaco               0
Bermuda             11
                ...
Ethiopia       2514592
Indonesia      2590656
Pakistan       3187522
Nigeria        7449328
India         26243547
Name: Diarrheal Diseases, Length: 204, dtype: int64

In [176]:
#12 Is environmental heat and cold a problem for norwegians?
norway_climate = df2[df2['Country/Territory'] == 'Norway'].groupby('Year')['Environmental Heat and Cold Exposure'].sum()
norway_climate

Year
1990    34
1991    33
1992    32
1993    31
1994    29
1995    29
1996    27
1997    29
1998    30
1999    30
2000    32
2001    33
2002    34
2003    34
2004    36
2005    32
2006    32
2007    32
2008    32
2009    34
2010    35
2011    36
2012    35
2013    36
2014    34
2015    33
2016    33
2017    31
2018    31
2019    32
Name: Environmental Heat and Cold Exposure, dtype: int64

In [182]:
#13 What year did people die of poison the most
poison_year = df2[df2['Poisonings'] > 0].groupby('Year')['Poisonings'].sum().sort_values(ascending= False)
poison_year

Year
2005    92064
2004    91455
1994    90897
2003    90634
1995    90353
1993    90036
2002    89920
2006    89859
2001    89294
1996    88861
2000    88799
2008    88687
2007    88475
1992    88435
1990    87951
2009    87902
1991    87813
2010    87632
1997    87371
1999    87333
1998    86679
2011    86099
2012    84595
2013    83618
2014    81976
2015    80974
2016    79951
2017    78484
2018    77805
2019    77130
Name: Poisonings, dtype: int64

In [188]:
#14 Country that died of poison the most
poison_country = df2[df2["Poisonings"] > 0].groupby('Country/Territory')["Poisonings"].sum().sort_values(ascending= False)
poison_country

Country/Territory
China                               770140
Russia                              298954
India                               170119
Nigeria                             107604
Ethiopia                            101065
                                     ...
Saint Lucia                              9
Antigua and Barbuda                      8
Bermuda                                  5
Monaco                                   5
Saint Vincent and the Grenadines         3
Name: Poisonings, Length: 191, dtype: int64

In [208]:
#15 Country with its's corresponding years with the most poisonings
poison = df2[(df2["Poisonings"]) > 0 & (df2["Year"] != 0)].groupby(['Country/Territory', "Year"])["Poisonings"].sum().sort_values(ascending= False)
poison

Country/Territory      Year
China                  2011    30883
                       2010    30838
                       2012    30494
                       2013    30263
                       2009    30105
                               ...
Samoa                  1996        1
                       1997        1
                       1998        1
                       1999        1
Sao Tome and Principe  2014        1
Name: Poisonings, Length: 5536, dtype: int64

In [212]:
#16 Is death of Lower Respiratory Infection common in australia
australia = df2[df2["Country/Territory"] == 'Australia'].groupby('Year')['Lower Respiratory Infections'].sum()
australia

Year
1990    1823
1991    1826
1992    1895
1993    1924
1994    2043
1995    2136
1996    2323
1997    2638
1998    2547
1999    2620
2000    2838
2001    2940
2002    3097
2003    3181
2004    3113
2005    2998
2006    2938
2007    2910
2008    2828
2009    2803
2010    2911
2011    3055
2012    3192
2013    3306
2014    3530
2015    3763
2016    3925
2017    4011
2018    4158
2019    4269
Name: Lower Respiratory Infections, dtype: int64

In [214]:
#17 Do russians die a lot from conflicts
russian_conflict = df2[df2["Country/Territory"] == 'Russia'].groupby('Year')['Conflict and Terrorism'].sum()
russian_conflict

Year
1990     192
1991     271
1992      36
1993     147
1994     277
1995    2055
1996    2901
1997      75
1998      57
1999    7145
2000    6617
2001    4513
2002    2644
2003    1185
2004    2175
2005    1043
2006     398
2007     299
2008     574
2009     883
2010    1139
2011     564
2012    1347
2013    1339
2014     266
2015     415
2016     225
2017     187
2018     136
2019      20
Name: Conflict and Terrorism, dtype: int64

In [218]:
#18 What Country is the safest to live in (per conflicts death)
safe_country = df2[df2['Conflict and Terrorism'] > 0].groupby('Country/Territory')['Conflict and Terrorism'].sum().sort_values(ascending= True)
safe_country

Country/Territory
Luxembourg                   1
Suriname                     1
Antigua and Barbuda          1
Dominica                     1
United Arab Emirates         2
                         ...
Burundi                 163935
Afghanistan             280520
Iraq                    336980
Syria                   365293
Rwanda                  528779
Name: Conflict and Terrorism, Length: 177, dtype: int64

In [220]:
#19 Road Injuries and Malaria which has more deaths in U.S
us_deaths = df2[df2['Country/Territory'] == 'United States'].groupby('Year')[['Road Injuries', 'Malaria']].sum()
us_deaths

      Road Injuries  Malaria
Year
1990          48970        0
1991          47833        0
1992          46690        0
1993          47119        0
1994          47262        0
1995          47551        0
1996          47416        0
1997          47374        0
1998          47341        0
1999          47717        0
2000          48207        0
2001          48737        0
2002          49318        0
2003          49243        0
2004          48526        0
2005          48654        0
2006          48092        0
2007          46498        0
2008          44535        0
2009          42561        0
2010          40874        0
2011          40383        0
2012          39985        0
2013          39785        0
2014          40155        0
2015          41198        0
2016          42360        0
2017          42206        0
2018          41792        0
2019          41362        0

In [222]:
#20 Road Injuries and Malaria which has more deaths in Nigeria
nga_deathss = df2[df2['Country/Territory'] == 'Nigeria'].groupby('Year')[['Road Injuries', 'Malaria']].sum()
nga_deathss

      Road Injuries  Malaria
Year
1990          11832   148931
1991          12185   157502
1992          12663   165722
1993          13082   173695
1994          13421   180588
1995          13667   186263
1996          13879   191437
1997          14199   197467
1998          14574   202843
1999          14916   207571
2000          15229   212123
2001          15536   221139
2002          16012   226408
2003          16341   235380
2004          16690   236937
2005          16867   243827
2006          17447   257505
2007          17720   267368
2008          17507   280604
2009          17658   276715
2010          17801   266638
2011          17997   254072
2012          18358   239886
2013          18610   227310
2014          18723   218689
2015          19053   204672
2016          19370   186482
2017          19319   176183
2018          18531   187000
2019          18508   191106